@charset "UTF-8";
/* Указываем box sizing */
@import '../../node_modules/swiper/swiper-bundle.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
:root {
  --backgroung-color: bisque;
  --background-color-2: rgb(155, 42, 14);
  --background-color-2-minor: rgb(212, 51, 11);
  --background-color-3: grey;
}

@font-face {
  font-family: "Neucha";
  src: url(../../fonts/Neucha-Regular.ttf);
}
@font-face {
  font-family: "Work";
  src: url(../../fonts/MontserratAlternates-Regular.ttf);
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Neucha";
  font-size: 2em;
  background-color: var(--backgroung-color);
}

.site-header {
  height: 85px;
}
.site-header p {
  height: 50px;
  background-color: var(--background-color-2);
}
.site-header .omega-style-block {
  margin: auto;
  height: 50px;
  background-color: var(--background-color-2);
}

main {
  flex-grow: 1;
}

.site-footer {
  padding: 1em;
  background-color: var(--background-color-2);
}
.site-footer p {
  margin: auto;
  text-align: center;
}
.site-footer .img-wrap {
  margin: auto;
  margin-top: 0.5em;
  width: clamp(150px, 10%, 250px);
}
.site-footer .img-wrap img {
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}

body .t1 {
  font-family: "Work";
  font-size: 0.5em;
}

.index-slider-wrap {
  position: relative;
  margin: auto;
  width: 800px;
  height: 150px;
  background-color: burlywood;
}
.index-slider-wrap .slider-btn {
  position: absolute;
  height: 100%;
  background: none;
  border: none;
}
.index-slider-wrap .slider-btn.slider-btn-left {
  left: 0;
  top: 0;
}
.index-slider-wrap .slider-btn.slider-btn-right {
  right: 0;
  top: 0;
}
.index-slider-wrap .slider-btn svg {
  fill: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s ease-in all;
}
.index-slider-wrap .slider-btn svg:hover {
  fill: black;
}
.index-slider-wrap .index-slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  animation-duration: 1s;
  animation-name: sliding;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes sliding {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100%;
  }
}
.index-slider-wrap .index-slider .slide {
  min-width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-slider-wrap .index-slider #index-slide-1 {
  background-color: aqua;
}
.index-slider-wrap .index-slider #index-slide-2 {
  background-color: rgb(179, 255, 0);
}
.index-slider-wrap .index-slider #index-slide-3 {
  background-color: rgb(111, 0, 255);
}
.index-slider-wrap .index-slider #index-slide-4 {
  background-color: rgb(255, 0, 13);
}
.index-slider-wrap .index-slider #index-slide-5 {
  background-color: rgb(0, 255, 42);
}
.index-slider-wrap .toggles-wrap {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}
.index-slider-wrap .toggles-wrap .toggles {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}
.index-slider-wrap .toggles-wrap .toggle {
  height: 15px;
  width: 15px;
  background-color: var(--background-color-3);
  border-radius: 10px;
  border: 1px solid black;
  transition: all linear 0.3s;
  cursor: pointer;
}
.index-slider-wrap .toggles-wrap .toggle:hover {
  background-color: var(--background-color-2-minor);
}
.index-slider-wrap .toggles-wrap .toggle.active {
  background-color: var(--background-color-2);
}

.swiper {
  width: 600px;
  height: 300px;
}