// Красииииивый и бесоплезный.
@font-face {
  font-family: 'Neucha';
  src: url(../../fonts/Neucha-Regular.ttf);
}

// Рабочая лошадка
@font-face {
  font-family: 'Work';
  src: url(../../fonts/MontserratAlternates-Regular.ttf);
}
