:root {
  --backgroung-color: bisque;
  --background-color-2: rgb(155, 42, 14);
  --background-color-2-minor: rgb(212, 51, 11);
  --background-color-3: grey;

  --gradient-cyberpank: radial-gradient(ellipse at center, rgba(97, 97, 204, 1) 0%, rgba(97, 97, 204, 1) 26%, rgba(220, 56, 165, 1) 100%);
}
