@import 'cssDrop';
@import 'responsive-font-size';
@import 'vars';
@import 'fonts';
@import 'main';

body {
  .t1 {
    font-family: 'Work';
    // letter-spacing: -2px;
    font-size: 0.5em;
  }
}

.index-slider-wrap {
  margin: auto;
  width: 800px;
  height: 150px;

  background-color: burlywood;
}
